*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.app-article{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar{
  display: none;
}
